{% extends 'layout.twig'%}

{% block title %}
  <title>Dashboard</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="../happy_days_twig/css/home.css">
{% endblock %}

{% block content %}
<div class="wrapper">

  <!-- Titre milieu de page qui redirige vers ses playlist ! #HappyDays -->
 
  <div class="text-wrap">
    <div class="text"><span>HappyDays!</div> 
      <div class="main-btn_wrapper">
        
      </div>
    </div>
  </div>

<!-- Affiche des playlist par le click via le titre  -->

<!-- Titre Zaza  -->
  <div class="page" id="curator">
    <div class="curator_title_wrapper"><span>( ͡° ͜ʖ ͡°)</span>
      <div class="curator_line"></div>
      <div class="curator_title">Playlist</div>
      <div class="curator_line"></div><span>( ͡° ͜ʖ ͡°)</span>
  </div>


<!-- Bouton ajouter playlist  -->
    <div class="curator_list" id="page2">
      <div class="curator_list_content">
        <div class="connect_btn_wrapper item">
          
          <a style="text-decoration:none;" href="?p=form_playlist">
          <div class="connect_btn">
            
            <div class="connect_btn_text">Nouvelle<br/>Playlist</div>
            
          </div>
        </div>
        </a>
      
        <!-- Proposition des playlists existantes  -->
        <div class="curator_list_content_desc">Ou Selectionne <br/>une de tes playlists <br/>( ͡° ͜ʖ ͡°)			</div>

        <!-- 1 playlist  -->
        <div class="item">

          <!-- logo playlist  -->
          <div class="thumb"></div>

          <!-- Nom/artiste playlist -->
          <div class="info">
            <div class="name">Nom playlist</div>
            <div class="desc">Artiste</div>
          </div>
        </div>

        <!-- 2 playlist  -->
        <div class="item">

          <!-- logo playlist  -->
          <div class="thumb"></div>

          <!-- Nom/artiste playlist -->
          <div class="info">
            <div class="name">Nom playlist</div>
            <div class="desc">Artiste</div>
          </div>
        </div>

        <!-- 3 playlist  -->
        <div class="item">

          <!-- logo playlist  -->
          <div class="thumb"></div>

          <!-- Nom/artiste playlist -->
          <div class="info">
            <div class="name">Nom playlist</div>
            <div class="desc">Artiste</div>
          </div>
        </div>

        <!-- 4 playlist  -->
        <div class="item">

          <!-- logo playlist  -->
          <div class="thumb"></div>

          <!-- Nom/artiste playlist -->
          <div class="info">
            <div class="name">Nom playlist</div>
            <div class="desc">Artiste</div>
          </div>
        </div>

        <!-- 5 playlist  -->
        <div class="item">

          <!-- logo playlist  -->
          <div class="thumb"></div>

          <!-- Nom/artiste playlist -->
          <div class="info">
            <div class="name">Nom playlist</div>
            <div class="desc">Artiste</div>
          </div>
        </div>

        <!-- 6 playlist  -->
        <div class="item">

          <!-- logo playlist  -->
          <div class="thumb"></div>

          <!-- Nom/artiste playlist -->
          <div class="info">
            <div class="name">Nom playlist</div>
            <div class="desc">Artiste</div>
          </div>
        </div>
      
      <!-- fin playlist  -->
      </div>
    </div>
  </div>
</div>

{% endblock %}